<header class="header">
    <a href="/" class="header__logo">NodeJs</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searcBtn" aria-expanded="false">
            Search 
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.79167 12.4583C9.92128 12.4583 12.4583 9.92128 12.4583 6.79167C12.4583 3.66205 9.92128 1.125 6.79167 1.125C3.66205 1.125 1.125 3.66205 1.125 6.79167C1.125 9.92128 3.66205 12.4583 6.79167 12.4583Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.8752 13.875L10.7939 10.7938" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
        </button>
    </div>
</header>