<div class="author">
    <h1 class="author__heading"> I am Manav</h1>
    <p class="author__body">WEB dev and estore owner</p>
</div>

<img src="/img/hero-image.webp" alt="" class="hero-image" width="981" />

<section class="articels">
    <h2 class="articles__heading">Lastest Pages</h2>

    <ul class="article-ui">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="" class="pagination">View Older Posts</a>
</section>
